<div class="container">
  <div class="well">
<div class="panel panel-primary">
     <div class="panel-heading">Confession</div>
     <div class="panel-body">

<p> I believe He is seated at the right of hand of God the Father, far above all principalities and powers. I believe He is Lord God Almighty, the creator of the universe, the everlasting Father and the Prince of Peace.</p>
     <p>He is the King of kings and Lord of lords. He is the Judge of the whole earth. He is my refuge, my fortress, my tower of strenght and my God, in Him I put my trust. </p>
         <hr/>
     <h2>Praise the Lord</h2>
       <p> Blessed are you O Lord our God, King of the universe who has kept us alive, maintain us and brought us to this time.</p>
          <p>Blessed be the God and Father of our Lord Jesus Christ, the Father of compassion and mercy; and the God (who is the source) of every comfort (Consolation and encouragement). 2Conrinthians 1:3 </p>
          <p>Blessed be His Holy name forever</p>
          <hr/>
          <h2>Pray for the peace of Jerusalem</h2>
            <p>Arise O Lord our God, Let the fire of anti-Semitism burning all over the world be quenched in the mighty name of Jesus Christ our Lord.</p>
            <p> "Let God arise and let His enemies be scattered, let them that hate Him flee before Him. As wax melt before the fire, so let the wicked perish O Lord…" Psalm 68:1-2</p>
                <h2>Peace be upon you</h2>
                <p>May the Lord blessed you and your family and keep you, may He make His face to shine on you and be gracious to ypu. May He lift up His countanance upon you and give you and your love ones peace in Jesus mighty name.</p>
 </div>
 </div>
  </div>
</div>
