<div class="center jumbotron">
  <h1>Prayer Bulletin</h1>
<!--  <p>If only my people will pray...</p>-->
    <p><%= link_to "Join the group", posts_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>