<%= tinymce_assets %>
<%= tinymce %>
<div class="container">
  <div class="well">
 <div class="jumbotron"></div>
 <div class="row">
   <div class="col-sm-8">
     <h2>Post new Prayer</h2>

     <%= render 'form' %>
   </div>
   <div class="col-sm-4">
     <h2>Utilities</h2>

     <%= image_tag 'holy-spirit-come.jpg', :class => "holy" %>

     <iframe width="300" height="315" src="https://www.youtube.com/embed/NfXybggH4Qo" frameborder="0" allowfullscreen></iframe>
     <br/>
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 <!-- Front page - 2 (www.ckwe.co.uk) -->
 <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9591689799095900"
      data-ad-slot="9745791119"
      data-ad-format="auto"></ins>
 <script>
 (adsbygoogle = window.adsbygoogle || []).push({});
 </script>
 <p></p>
 <iframe width="300" height="315" src="https://www.youtube.com/embed/MgEY4hdbxGg" frameborder="0" allowfullscreen></iframe>

 <p></p>
 <iframe width="300" height="315" src="https://www.youtube.com/embed/enMZyFaQStg" frameborder="0" allowfullscreen></iframe>

 <p></p>
 <iframe width="300" height="315" src="https://www.youtube.com/embed/ZML6pnSkr8I" frameborder="0" allowfullscreen></iframe>
   </div>
   </div>
</div>
</div>
