<p>
  This article presents seven simple thoughts on prayer, and then shares insights from different individuals. I didn’t feel that a lot of explanation or amplification was needed on these.
</p>

  <ul>
  <p><li> Prayer is not a religious ritual.

  “Real prayer comes not from gritting our teeth, but from falling in love.” (Richard Foster)

  “I live in the spirit of prayer. I pray as I walk about, when I lie down and when I rise up. And the answers are always coming.” (George Mueller)

  “Unless I had the spirit of prayer, I could do nothing.” (Charles G. Finney)

  “Beloved, it is not our long prayers but our believing God that gets the answer.” (John G. Lake)

  “There is no need to get to a place of prayer; pray wherever you are.” (Oswald Chambers)</li></p>

  2. Prayer is not a one-way conversation.

  “God must speak to us before we have any liberty to speak to him.” (John Stott)

  “The true spirit of prayer is no other than God’s own Spirit dwelling in the hearts of the saints. And as this spirit comes from God, so doth it naturally tend to God in holy breathings and pantings. It naturally leads to God, to converse with him by prayer.”
  (Jonathan Edwards)

  Jesus said in John 15:7, “If you abide in Me, and My words abide in you, you will ask what you desire, and it shall be done for you.”

  3. Prayer is not a matter of talking an unwilling God into doing what you want Him to do.

  “Prayer is not conquering God’s reluctance, but taking hold of God’s willingness.”
  (Phillips Brooks)

  “Prayer is not a means by which I seek to control God; it is a means of putting myself in a position where God can control me.” (Charles L. Allen)

  “A sinning man will stop praying. A praying man will stop sinning.” (Leonard Ravenhill)

  “I can no longer condemn or hate a brother for whom I pray, no matter how much trouble he causes me. His face, that hitherto may have been strange and intolerable to me, is transformed into the countenance of a brother for whom Christ died, the face of a forgiven sinner.” (Dietrich Bonhoeffer)

  Remember, we don’t pray to change God. Prayer allows God to change me.

  4. Prayer is not a substitute for action.

  “Prayer will become effective when we stop using it as a substitute for obedience.” (A.W. Tozer)

  “I prayed for twenty years but received no answer until I prayed with my legs.” (Frederick Douglass)

  “We Christians too often substitute prayer for playing the game. Prayer is good; but when used as a substitute for obedience, it is nothing but a blatant hypocrisy, a despicable Pharisaism…To your knees, man! and to your Bible! Decide at once! Don’t hedge! Time flies! Cease your insults to God, quit consulting flesh and blood. Stop your lame, lying, and cowardly excuses. Enlist!” (C.T. Studd)

  5. Prayer is not informing God about things He didn’t know.

  “Prayer is not designed to inform God, but… to humble man’s heart, to excite his desire, to inflame his faith, to animate his hope, and to raise his soul from earth to heaven.” (Adam Clarke)

  6. Prayer is not an exercise is hyper-technical precision.

  Some get excessively concerned about technicalities when they pray. Granted, we want to pray accurately, according to the truth of Scripture, and according to the leading of the Holy Spirit. But people can get so caught up in hyper-technicalities that they get off track when it comes to simply trusting God.

  • Was I binding when I should have been loosing?
  • Was I interceding when I should have been supplicating?
  • Was I praying to the Father when I should have been talking to Jesus?

  As Corrie Ten Boom said, “Nestle, don’t wrestle.” The simplicity of David’s faith is expressed beautifully in Psalm 131:1-2 (NLT): “I don’t concern myself with matters too great or too awesome for me to grasp. Instead, I have calmed and quieted myself, like a weaned child who no longer cries for its mother’s milk. Yes, like a weaned child is my soul within me.”

  7. Prayer is not a peripheral activity of the church.

  “Prayer is not just getting ready for Christian service. Prayer is Christian service.”
  (Adrian Rodgers)

  “It is obvious that Paul did not regard prayer as supplemental, but as fundamental—not something to be added to his work but the very matrix out of which his work was born. He was a man of action because he was a man of prayer. It was probably his prayer even more than his preaching that produced the kind of leaders we meet in his letters.” (Oswald Sanders, from Dynamic Spiritual Leadership)

  “I would rather teach one man to pray than ten men to preach.” (Charles Spurgeon)

  “You could remove the powerful preaching from our church and it would still continue. You could remove the administration of pastoral care through the cell group system and the church would still continue. But if you remove the prayer life of our church it would collapse.” (David Yonggi Cho)

  May your walk with Him will be rich and sweet!
</ul>
